# Turso Database Configuration
# You can get these credentials by creating a database on https://turso.tech
# or running `turso db create` and `turso db show [database-name]` / `turso db tokens create [database-name]`

VITE_TURSO_DATABASE_URL=libsql://your-database-name-your-org.turso.io
VITE_TURSO_AUTH_TOKEN=your-turso-auth-token
